<%- include('../../partials/navbar_home') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="article-container">
        <% result.articles.rows.forEach(article => { %>
            <div class="article-card">
                <h2 class="article-title"><%= article.title %></h2>
                <a href="<%= article.slug %>" class="article-button">Ler artigo</a>
            </div>
        <% }) %>
    </div>
    <div class="pagination">

        <% if(result.page > 2) { %>
            <a href="/articles/page/<%= result.page -1 %>" class="pagination-button-prox"> < anterior</a>
        <% } else if(result.page == 2) { %>
            <a href="/" class="pagination-button-prox"> < anterior</a>
        <% }%>

        <% if(result.next) { %>
            <a href="/articles/page/<%= result.page +1 %>" class="pagination-button-prox">Proximo ></a>
        <% }%>

    </div>
</body>
</html>

<%- include('../../partials/footer') %>